* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #563f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin-top: 75px;
  border-radius: 10px;
  box-shadow: -10px 5px 0 0 #0b0101;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 446px;
  height: 300px;
  border-radius: 15px;
}

label {
  margin-right: auto;
 
}

input,
textarea {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  box-shadow: -10px 5px 0 0 #4b4646;
}

button {
  width: 450px;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #5cb85c;
  color:#fff;
  
  box-shadow: -10px 5px 0 0 #4b4646;
  cursor: pointer;
}
button:hover{
    background-color: #4cae4c;

}

p#blad{
    color: red;
    font-weight: bold;
}